/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}


process{
    withName: '.*:CREATE_XENIUM_OBJ' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/raw_data/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:ADD_METADATA' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:ADD_TISSUE_COORDS' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:MERGE_XENIUM_OBJECTS' {
        publishDir = [
            enabled: false
        ]
    }
}

if (!params.skip_banksy_vf_filter) {
    process {
        withName: '.*:FIND_VARIABLE_FEATURES' {
            ext.args = [
                "--nfeatures ${params.vf_nfeatures}"
            ].join(' ').trim()
            publishDir = [
                enabled: false
            ]
        }
    }
}

process {
    withName: '.*:SUBSET_VARIABLE_FEATURES' {
        ext.args = {
            [
                params.gene_whitelist ? "--whitelist ${params.gene_whitelist}" : ""
            ].join(' ').trim()
        }
        publishDir = [
            enabled: false
        ]
    }
}

/**************************************
 * ADD_MANUAL_ANNOTATIONS SUBWORKFLOW *
 **************************************/

process{
    withName: '.*:ADD_MANUAL_ANNOTATIONS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/manual_annotations/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

if (!params.skip_qc && !params.skip_man_ann_dim_plot) {
    process{
        withName: '.*:MANUAL_ANNOTATION_IMG_DIM_PLOT' {
            ext.args = {
                [
                    '--group_by Tissue_annotation'
                ].join(' ').trim()
            }
            publishDir = [
                path: { "${params.outdir}/compiled/manual_annotations/qc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

process {
    withName: '.*:COMPILE_MANUAL_ANNOTATIONS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

if (!params.skip_qc) {
    /************************************
    * MARKER_GENE_PAIRS_QC SUBWORKFLOW *
    ************************************/
    if (!params.skip_pre_marker_gene_qc) {
        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:MARKER_GENE_PAIRS_QC:IDENTIFY_VARIABLE_GENES' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:MARKER_GENE_PAIRS_QC:COMPILE_LISTS' {
                publishDir = [ 
                    enabled: false
                ]
            }   
        }

        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:MARKER_GENE_PAIRS_QC:GENERATE_GENE_PAIR_STATS' {
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/raw_data/qc/gene_pair_qc" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }

        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:MARKER_GENE_PAIRS_QC:FILTER_GENE_PAIRS' {
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/raw_data/qc/gene_pair_qc" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
        if (!params.skip_pre_marker_barnyard_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:MARKER_GENE_PAIRS_QC:QC_BARNYARD_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/${meta.id}/raw_data/qc/gene_pair_qc/barnyard_plot" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }

    if (!params.skip_post_marker_gene_qc) {
        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:MARKER_GENE_PAIRS_QC:IDENTIFY_VARIABLE_GENES' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:MARKER_GENE_PAIRS_QC:COMPILE_LISTS' {
                publishDir = [ 
                    enabled: false
                ]
            }   
        }

        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:MARKER_GENE_PAIRS_QC:GENERATE_GENE_PAIR_STATS' {
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/filtered/qc/gene_pair_qc" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }

        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:MARKER_GENE_PAIRS_QC:DETERMINE_MUTEX_GENE_PAIRS' {
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/filtered/qc/gene_pair_qc" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }

        if (!params.skip_post_marker_barnyard_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:MARKER_GENE_PAIRS_QC:QC_BARNYARD_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/${meta.id}/filtered/qc/gene_pair_qc/barnyard_plot" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }


    /*****************************
    * CELL_SHAPE_QC SUBWORKFLOW *
    *****************************/

    if (!params.skip_pre_cell_shape_qc) {
        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:CLASSIFY_CELL_SHAPE' {
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/raw_data/qc/cell_shape_qc/" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }

        if (!params.skip_pre_cell_shape_prop_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:CELL_SHAPE_PLOT' {
                    ext.prefix = { "${meta.id}.cell_shape"}
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc/cell_shape_qc/" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_pre_cell_segm_prop_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:CELL_SEGM_PLOT' {
                    ext.prefix = { "${meta.id}.cell_segmentation"}
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc/cell_shape_qc/" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }

    if (!params.skip_pre_cell_shape_qc) {
        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:CLASSIFY_CELL_SHAPE' {
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/filtered/qc/cell_shape_qc/" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }

        if (!params.skip_post_cell_shape_prop_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:CELL_SHAPE_PLOT' {
                    ext.prefix = { "${meta.id}.cell_shape"}
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc/cell_shape_qc/" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_post_cell_segm_prop_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:CELL_SEGM_PLOT' {
                    ext.prefix = { "${meta.id}.cell_segmentation"}
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc/cell_shape_qc/" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }

    /**************************
    * GENERAL_QC SUBWORKFLOW *
    **************************/

    if (!params.skip_pre_general_qc) {
        // SPATIAL_QC_PREFILTER MODULE 
        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:COMPILE_OBJECTS' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        if (!params.skip_pre_general_dim_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:GENERAL_QC:QC_IMAGE_DIM_PLOT' {
                    //ext.prefix = "${meta.id}.image_dim_plot"
                    ext.args = {
                        [
                            '--group_by BiologicalGroup'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_pre_general_vln_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:GENERAL_QC:QC_VLN_PLOT' {
                    ext.args = {
                        [
                            '--features "nCount_Xenium,nFeature_Xenium"',
                            '--ncols_vln 2'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_pre_general_scatter_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:GENERAL_QC:QC_FEATURE_SCATTER_PLOT' {
                    ext.args = {
                        [
                            '--feature1 nCount_Xenium',
                            '--feature2 nFeature_Xenium',
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_pre_general_nfeature_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:GENERAL_QC:QC_IFP_NFEATURE' {
                    ext.prefix = { "${meta.id}.qc_nfeature" }
                    ext.args = {
                        [
                            '--features "nFeature_Xenium"'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_pre_general_ncount_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:GENERAL_QC:QC_IFP_NCOUNT' {
                    ext.prefix = { "${meta.id}.qc_ncount" }
                    ext.args = {
                        [
                            '--features "nCount_Xenium"'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }

    if (!params.skip_post_general_qc) {
        // SPATIAL_QC_POSTFILTER MODULE
        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:COMPILE_OBJECTS' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        if (!params.skip_post_general_dim_plot) {
            process{
                withName: '.*SPATIAL_QC_POSTFILTER.*:GENERAL_QC:QC_IMAGE_DIM_PLOT' {
                    ext.args = {
                        [
                            '--group_by BiologicalGroup'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_post_general_vln_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:GENERAL_QC:QC_VLN_PLOT' {
                    ext.args = {
                        [
                            '--features "nCount_Xenium,nFeature_Xenium"',
                            '--ncols_vln 2'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_post_general_scatter_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:GENERAL_QC:QC_FEATURE_SCATTER_PLOT' {
                    ext.args = {
                        [
                            '--feature1 nCount_Xenium',
                            '--feature2 nFeature_Xenium',
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_post_general_nfeature_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:GENERAL_QC:QC_IFP_NFEATURE' {
                    ext.prefix = { "${meta.id}.qc_nfeature" }
                    ext.args = {
                        [
                            '--features "nFeature_Xenium"'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_post_general_ncount_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:GENERAL_QC:QC_IFP_NCOUNT' {
                    ext.prefix = { "${meta.id}.qc_ncount" }
                    ext.args = {
                        [
                            '--features "nCount_Xenium"'
                        ].join(' ').trim()
                    }
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }

    /****************************
    * CELL AREA QC SUBWORKFLOW *
    ****************************/

    if (!params.skip_pre_cell_area_qc) {
        if (!params.skip_pre_area_histogram_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:QC_HISTOGRAM_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc/cell_area_qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:CALCULATE_OUTLIERS' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        process {
            withName: '.*SPATIAL_QC_PREFILTER.*:COMPILE_OUTLIER_DF' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        if (!params.skip_pre_area_box_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:QC_BOX_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc/cell_area_qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_pre_area_overlap_histogram_plot) {
            process {
                withName: '.*SPATIAL_QC_PREFILTER.*:QC_OVERLAPPING_HISTOGRAM_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/compiled/raw_data/qc/cell_area_qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }

    if (!params.skip_post_cell_area_qc) {
        if (!params.skip_post_area_histogram_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:QC_HISTOGRAM_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc/cell_area_qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:CALCULATE_OUTLIERS' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        process {
            withName: '.*SPATIAL_QC_POSTFILTER.*:COMPILE_OUTLIER_DF' {
                publishDir = [ 
                    enabled: false
                ]
            }
        }

        if (!params.skip_post_area_box_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:QC_BOX_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc/cell_area_qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if (!params.skip_post_area_overlap_histogram_plot) {
            process {
                withName: '.*SPATIAL_QC_POSTFILTER.*:QC_OVERLAPPING_HISTOGRAM_PLOT' {
                    publishDir = [
                        path: { "${params.outdir}/compiled/filtered/qc/cell_area_qc" },
                        mode: params.publish_dir_mode,
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }
}

/********************
* FILTERING MODULE *
********************/

if (!params.skip_filtering) {

    process{
        withName: '.*:FILTER_XENIUM_OBJ' {
            ext.prefix = { "${meta.id}.filtered" }
            ext.args = {
                [
                    params.filter_features ? "--filter_features ${params.filter_features}" : '',
                    params.skip_column_removal ? '--skip_column_removal' : '',
                    params.columns_to_remove ? "--columns ${params.columns_to_remove}" : '',
                    params.skip_percentile_filtering ? '--skip_percentile_filter' : '',
                    params.min_percentile ? "--min_percentile ${params.min_percentile}" : '',
                    params.max_percentile ? "--max_percentile ${params.max_percentile}" : '',
                    params.skip_nFeature_filtering ? '--skip_nFeature_filter' : '',
                    params.min_nFeature ? "--min_nFeature ${params.min_nFeature}" : '',
                    params.max_nFeature ? "--max_nFeature ${params.max_nFeature}" : '',
                    params.skip_nCount_filtering ? '--skip_nCount_filter' : '',
                    params.min_nCount ? "--min_nCount ${params.min_nCount}" : '',
                    params.max_nCount ? "--max_nCount ${params.max_nCount}" : '',
                    params.skip_cell_area_filtering ? '--skip_cell_area_filter' : '',
                    params.min_cell_area ? "--min_cell_area ${params.min_cell_area}" : '',
                    params.max_cell_area ? "--max_cell_area ${params.max_cell_area}" : ''
                ].join(' ').trim()
            }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/filtered/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

/*****************************
 * NORMALIZATION SUBWORKFLOW *
 *****************************/

 process{
    withName: '.*:NORMALIZE_LOG' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/normalized/log/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:COMPILE_LOG_OBJECTS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process{
    withName: '.*:NORMALIZE_AREA' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/normalized/area/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:COMPILE_AREA_OBJECTS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

if (!params.skip_qc) {
    if (!params.skip_norm_nfeature) {
        process {
            withName: '.*:NORMALIZE_DATA:QC_IFP_NORM_NFEATURE' {
                ext.prefix = { "${meta.id}.qc_nfeature" }
                ext.args = {
                    [
                        '--features "nFeature_Xenium"',
                        ${meta.normalization} == 'area' ? '--assay "AreaNorm"' : '--assay "Xenium"'
                    ].join(' ').trim()
                }
                publishDir = [
                    path: { "${params.outdir}/compiled/normalized/${meta.normalization}/qc" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }

    if (!params.skip_norm_ncount) {
        process {
            withName: '.*:NORMALIZE_DATA:QC_IFP_NORM_NCOUNT' {
                ext.prefix = { "${meta.id}.qc_ncount" }
                ext.args = {
                    [
                        '--features "nCount_Xenium"',
                        ${meta.normalization} == 'area' ? '--assay "AreaNorm"' : '--assay "Xenium"'
                    ].join(' ').trim()
                }
                publishDir = [
                    path: { "${params.outdir}/compiled/normalized/${meta.normalization}/qc" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}

/*******************************
 * CLUSTER HARMONY SUBWORKFLOW *
 *******************************/

process {
    withName: '.*:CLUSTER_HARMONY:SCALE_DATA' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process {
    withName: '.*:CLUSTER_HARMONY:RUN_PCA' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process{
    withName: '.*:CLUSTER_HARMONY:QC_ELBOW_PLOT' {
        ext.prefix = { "${meta.id}.${meta.normalization}" }
        publishDir = [
            path: { "${params.outdir}/compiled/Harmony/${meta.normalization}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:CLUSTER_HARMONY:RUN_HARMONY' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:CLUSTER_HARMONY:RUN_UMAP' {
        ext.prefix = {"${meta.id}.d${meta.dim}"}
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:CLUSTER_HARMONY:FIND_NEIGHBORS' {
        ext.prefix = {"${meta.id}.d${meta.dim}"}
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:CLUSTER_HARMONY:FIND_CLUSTERS' {
        ext.prefix = {"${meta.id}.d${meta.dim}_r${meta.res}"}
        publishDir = [
            path: { "${params.outdir}/compiled/Harmony/${meta.normalization}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

if (!params.skip_tsne_plot) {
    process {
        withName: '.*:CLUSTER_HARMONY:RUN_TSNE' {
            ext.prefix = {"${meta.id}.dim${meta.dim}"}
            publishDir = [
                path: { "${params.outdir}/compiled/Harmony/${meta.normalization}/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }

    if (!params.skip_qc) {
        process {
            withName: '.*:CLUSTER_HARMONY:TSNE_DIM_PLOT' {
                ext.prefix = {"${meta.id}.d${meta.dim}_r${meta.res}_tsne"}
                ext.args = {
                    '--embedding "tsne"'
                }
                publishDir = [
                    path: { "${params.outdir}/compiled/Harmony/${meta.normalization}/qc/tsne_dim_plot" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}

/************************
 * BANKSY CLUSTERING    *
 ************************/

process {
    withName: '.*:BANKSY:CONVERT_SEURAT_TO_SPE' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:BANKSY:STAGGER_SPATIAL_COORDS' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:BANKSY:COMPUTE_BANKSY_MATRIX' {
        ext.prefix = {"${meta.id}_AGF${meta.agf}_k${meta.k_geom}"}
        ext.args = {
            [
                '--agf'
            ].join(' ').trim()
        }
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:BANKSY:COMPUTE_BANKSY_PCA' {
        ext.prefix = {"${meta.id}_AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}"}
        ext.args = {
            [
                params.use_agf_BANKSY ? '--agf' : ''
            ].join(' ').trim()
        }
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:BANKSY:RUN_HARMONY_BANKSY' {
        ext.prefix = {"${meta.id}_AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}"}
        ext.args = {
            [
                "--max_iter ${params.max_iter_BANKSY}",
            ].join(' ').trim()
        }
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:BANKSY:RUN_UMAP_BANKSY' {
        ext.prefix = {"${meta.id}_AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}"}
        ext.args = {
            [
                '--use_harmony',
                params.use_agf_BANKSY ? '--agf' : ''
            ].join(' ').trim()
        }
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:BANKSY:CLUSTER_BANKSY' {
        ext.prefix = {"${meta.id}_AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}_R${meta.res}"}
        ext.args = {
            [
                '--use_harmony',
                params.use_agf_BANKSY ? '--agf' : '',
                "--param_str BSKY_AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}_R${meta.res}",
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/BANKSY/${meta.normalization}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/**********************************************
 * MERGE CLUSTERED XENIUM OBJECTS SUBWORKFLOW *
 **********************************************/

process {
    withName: '.*:MERGE_CLUSTERED_XENIUM_OBJECTS:EXTRACT_CLUSTER_METADATA' {
        ext.prefix = { "${meta.clustering_method}" == "BANKSY" ?
                "${meta.id}.AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}_R${meta.res}" :
                "${meta.id}.d${meta.dim}_r${meta.res}"
        }
        publishDir = [
            path: { "${params.outdir}/compiled/${meta.clustering_method}/${meta.normalization}/cluster_csvs/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:MERGE_CLUSTERED_XENIUM_OBJECTS:EXTRACT_REDUCED_DIMS' {
        publishDir = [
            path: { "${params.outdir}/compiled/${meta.clustering_method}/${meta.normalization}/reduced_dim_csvs/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:MERGE_CLUSTERED_XENIUM_OBJECTS:MERGE_CSV' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:MERGE_CLUSTERED_XENIUM_OBJECTS:CONNECT_CLUSTERS' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:MERGE_CLUSTERED_XENIUM_OBJECTS:ADD_CLUSTER_DATA_TO_SEURAT' {
        publishDir = [
            path: { "${params.outdir}/compiled/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/**************************
 * CLUSTER QC SUBWORKFLOW *
 **************************/

if (!params.skip_qc) {
    if (!params.skip_cluster_umap_plot) {
        process {
            withName: '.*:CLUSTER_QC:UMAP_DIM_PLOT' {
                ext.prefix = { "${meta.clustering_method}" == "BANKSY" ?
                    "${meta.id}.AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}_R${meta.res}"  :
                    "${meta.id}.d${meta.dim}_r${meta.res}"
                }
                publishDir = [
                    path: { "${params.outdir}/compiled/${meta.clustering_method}/${meta.normalization}/qc/umap_dim_plot" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }

    if (!params.skip_cluster_split_plot) {
        process {
            withName: '.*:CLUSTER_QC:QC_SPLIT_CLUSTER_PLOTS' {
                ext.prefix = { "${meta.clustering_method}" == "BANKSY" ?
                    "${meta.id}.AGF${meta.agf}_L${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}_R${meta.res}"  :
                    "${meta.id}.d${meta.dim}_r${meta.res}"
                }
                publishDir = [
                    path: { "${params.outdir}/compiled/${meta.clustering_method}/${meta.normalization}/qc/marker_vln_plots" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }

    if (!params.skip_cluster_vln_plot) {
        process {
            withName: '.*:CLUSTER_QC:QC_MARKER_VLN_PLOT' {
                ext.prefix = { "${meta.clustering_method}" == "BANKSY" ?
                    "${meta.id}.l${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}_res${meta.res}" :
                    "${meta.id}.d${meta.dim}_r${meta.res}"
                }
                publishDir = [
                    path: { "${params.outdir}/compiled/${meta.clustering_method}/${meta.normalization}/qc/vln_plots" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }

    if (!params.skip_cluster_dot_plot) {
        process {
            withName: '.*:CLUSTER_QC:QC_MARKER_DOT_PLOT' {
                ext.prefix = { "${meta.clustering_method}" == "BANKSY" ?
                    "${meta.id}.l${meta.lambda}_k${meta.k_geom}_PC${meta.nPCs}_res${meta.res}" :
                    "${meta.id}.d${meta.dim}_r${meta.res}"
                }
                publishDir = [
                    path: { "${params.outdir}/compiled/${meta.clustering_method}/${meta.normalization}/qc/dot_plots" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}
