/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}


process{
    withName: '.*:CREATE_XENIUM_OBJ' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/raw_data/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/**************************************
 * ADD_MANUAL_ANNOTATIONS SUBWORKFLOW *
 **************************************/

process{
    withName: '.*:ADD_MANUAL_ANNOTATIONS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/manual_annotations/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:MANUAL_ANNOTATION_IMG_DIM_PLOT' {
        ext.args = {
            [
                '--group_by Tissue_annotation'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/manual_annotations/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:COMPILE_MANUAL_ANNOTATIONS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

/************************************
 * MARKER_GENE_PAIRS_QC SUBWORKFLOW *
 ************************************/

process {
    withName: '.*:GENERATE_GENE_PAIR_STATS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/raw_data/qc/gene_pair_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:DETERMINE_MUTEX_GENE_PAIRS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/raw_data/qc/gene_pair_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:QC_BARNYARD_PLOT' {
        ext.prefix = { "${meta.id}_${gene_pairs.gene1}_${gene_pairs.gene2}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/raw_data/qc/gene_pair_qc/barnyard_plot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/*****************************
 * CELL_SHAPE_QC SUBWORKFLOW *
 *****************************/

process {
    withName: '.*:CLASSIFY_CELL_SHAPE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/raw_data/qc/cell_shape_qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:CELL_SHAPE_PLOT' {
        ext.prefix = { "${meta.id}.cell_shape"}
        publishDir = [
            path: { "${params.outdir}/compiled/raw_data/qc/cell_shape_qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:CELL_SEGM_PLOT' {
        ext.prefix = { "${meta.id}.cell_segmentation"}
        publishDir = [
            path: { "${params.outdir}/compiled/raw_data/qc/cell_shape_qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/**************************
 * GENERAL_QC SUBWORKFLOW *
 **************************/

process {
    withName: '.*:COMPILE_OBJECTS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process{
    withName: '.*:GENERAL_QC:QC_IMAGE_DIM_PLOT' {
        //ext.prefix = "${meta.id}.image_dim_plot"
        ext.args = {
            [
                '--group_by BiologicalGroup'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/raw_data/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:GENERAL_QC:QC_VLN_PLOT' {
        ext.args = {
            [
                '--features "nCount_Xenium,nFeature_Xenium"',
                '--ncols_vln 2'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/raw_data/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:GENERAL_QC:QC_FEATURE_SCATTER_PLOT' {
        ext.args = {
            [
                '--feature1 nCount_Xenium',
                '--feature2 nFeature_Xenium',
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/raw_data/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:GENERAL_QC:QC_IFP_NFEATURE' {
        ext.prefix = { "${meta.id}.qc_nfeature" }
        ext.args = {
            [
                '--features "nFeature_Xenium"'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/raw_data/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:GENERAL_QC:QC_IFP_NCOUNT' {
        ext.prefix = { "${meta.id}.qc_ncount" }
        ext.args = {
            [
                '--features "nCount_Xenium"'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/raw_data/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/********************
 * FILTERING MODULE *
 ********************/

if (!params.skip_filtering) {
    process {
        withName: '.*:COMPILE_FILTERED_OBJS' {
            publishDir = [ 
                enabled: false
            ]
        }
    }

    process{
        withName: '.*:FILTER_XENIUM_OBJ' {
            ext.prefix = { "${meta.id}.filtered" }
            ext.args = {
                [
                    params.skip_column_removal ? '--skip_column_removal' : '',
                    params.columns_to_remove ? "--columns ${params.columns_to_remove}" : '',
                    params.skip_percentile_filtering ? '--skip_percentile_filter' : '',
                    params.min_percentile ? "--min_percentile ${params.min_percentile}" : '',
                    params.max_percentile ? "--max_percentile ${params.max_percentile}" : '',
                    params.skip_nFeature_filtering ? '--skip_nFeature_filter' : '',
                    params.min_nFeature ? "--min_nFeature ${params.min_nFeature}" : '',
                    params.max_nFeature ? "--max_nFeature ${params.max_nFeature}" : '',
                    params.skip_nCount_filtering ? '--skip_nCount_filter' : '',
                    params.min_nCount ? "--min_nCount ${params.min_nCount}" : '',
                    params.max_nCount ? "--max_nCount ${params.max_nCount}" : '',
                    params.skip_cell_area_filtering ? '--skip_cell_area_filter' : '',
                    params.min_cell_area ? "--min_cell_area ${params.min_cell_area}" : '',
                    params.max_cell_area ? "--max_cell_area ${params.max_cell_area}" : ''
                ].join(' ').trim()
            }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/filtered/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

/****************************
 * CELL AREA QC SUBWORKFLOW *
 ****************************/

 process{
    withName: '.*:QC_HISTOGRAM_PLOT' {
        publishDir = [
            path: { "${params.outdir}/compiled/filtered/qc/cell_area_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:CALCULATE_OUTLIERS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process {
    withName: '.*:COMPILE_OUTLIER_DF' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process{
    withName: '.*:QC_BOX_PLOT' {
        publishDir = [
            path: { "${params.outdir}/compiled/filtered/qc/cell_area_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:QC_OVERLAPPING_HISTOGRAM_PLOT' {
        publishDir = [
            path: { "${params.outdir}/compiled/filtered/qc/cell_area_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/*********************
 * POST FILTERING QC *
 *********************/

 process{
    withName: '.*:POST_FILTERING_VLN_PLOT' {
        ext.args = {
            [
                '--features "nCount_Xenium,nFeature_Xenium"',
                '--ncols_vln 2'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/filtered/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/*****************************
 * NORMALIZATION SUBWORKFLOW *
 *****************************/

 process{
    withName: '.*:NORMALIZE_LOG' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/normalized/log/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:COMPILE_LOG_OBJECTS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

 process{
    withName: '.*:NORMALIZE_SCTRANSFORM' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/normalized/sct/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:COMPILE_SCT_OBJECTS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process{
    withName: '.*:NORMALIZE_AREA' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/normalized/area/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:COMPILE_AREA_OBJECTS' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process{
    withName: '.*:NORMALIZE_DATA:QC_IFP_NORM_NFEATURE' {
        ext.prefix = { "${meta.id}.qc_nfeature" }
        ext.args = {
            [
                '--features "nFeature_Xenium"',
                ${meta.normalization} == 'area' ? '--assay "AreaNorm"' : '--assay "Xenium"'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/normalized/${meta.normalization}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process{
    withName: '.*:NORMALIZE_DATA:QC_IFP_NORM_NCOUNT' {
        ext.prefix = { "${meta.id}.qc_ncount" }
        ext.args = {
            [
                '--features "nCount_Xenium"',
                ${meta.normalization} == 'area' ? '--assay "AreaNorm"' : '--assay "Xenium"'
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/compiled/normalized/${meta.normalization}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

/***************************
 * INTEGRATION SUBWORKFLOW *
 **************************/

process {
    withName: '.*:INTEGRATE_HARMONY:MERGE_XENIUM_OBJECT' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:SCALE_DATA' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:RUN_PCA' {
        publishDir = [ 
            enabled: false
        ]
    }
}

process{
    withName: '.*:INTEGRATE_HARMONY:QC_ELBOW_PLOT' {
        ext.prefix = { "${meta.id}.qc_elbow" }
        publishDir = [
            path: { "${params.outdir}/compiled/integrated/${meta.normalization}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:RUN_HARMONY' {
        publishDir = [
            path: { "${params.outdir}/compiled/integrated/${meta.normalization}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:RUN_UMAP' {
        publishDir = [
            enabled: false
        ]
    }
}


process {
    withName: '.*:INTEGRATE_HARMONY:RUN_TSNE' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:FIND_NEIGHBORS' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:FIND_CLUSTERS' {
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:UMAP_DIM_PLOT' {
        ext.prefix = {"${meta.id}.dim${meta.dim}_res${meta.res}_umap"}
        ext.args = {
            '--embedding "umap"'
        }
        publishDir = [
            path: { "${params.outdir}/compiled/integrated/${meta.normalization}/qc/umap_dim_plot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:TSNE_DIM_PLOT' {
        ext.prefix = {"${meta.id}.dim${meta.dim}_res${meta.res}_tsne"}
        ext.args = {
            '--embedding "tsne"'
        }
        publishDir = [
            path: { "${params.outdir}/compiled/integrated/${meta.normalization}/qc/tsne_dim_plot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:INTEGRATE_HARMONY:QC_VLN_PLOT' {
        ext.args = {
            [
                '--features "nCount_Xenium,nFeature_Xenium"',
                '--ncols_vln 2'
            ].join(' ').trim()
        }
        ext.prefix = {"${meta.id}.dim${meta.dim}_res${meta.res}"}
        publishDir = [
            path: { "${params.outdir}/compiled/integrated/${meta.normalization}/qc/vln_plot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
